<html id="top">
  <body>
    <div class="container">
      <div class="parent">
        <div class="title d-flex justify-content-center align-items-center">
          {{ event.event_type }} Details
        </div>
        <div class="normal container">
          <p>
            It happened On {{ event.event_date }},
            {{ event.event_desc }}
          </p>
          <p *ngIf="event.event_damages != null" class="damages">
            {{ event.event_type }} Damages: {{ event.event_damages }}
          </p>
        </div>
        <div class="images d-flex flex-column justify-content-center" *ngIf="!event.event_media.isEmpty">
          <div class="title title2 d-flex justify-content-center align-items-center align-self-center">
            Photos
          </div>
          <div class="row justify-content-evenly">
            <ng-container *ngFor="let event of event.event_media">
              <div class="col-md-4 justify-content-center d-flex pic">
                <img [src]="event" alt="" />
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
