<app-preloader *ngIf="showPreloader"></app-preloader>
<html>
  <body>
    <section id="p1">
      <div
        class="container-fluid d-flex flex-column justify-content-center align-items-center"
      >
        <img [src]="vehicleData.pic" />
        <h1>{{ vehicleData.vehicle_make }} {{ vehicleData.vehicle_model }}</h1>
      </div>
    </section>
    <section
      id="p2"
      class="d-flex justify-content-center flex-column align-items-center"
    >
      <div
        class="container d-flex flex-column justify-content-center align-items-start"
      >
        <div class="title">
          <h2>Overview</h2>
        </div>
        <div class="paragraph my-3">
          <p>
            Vehicle Model :
            {{ vehicleData.vehicle_make }} {{ vehicleData.vehicle_model }}
          </p>
          <p>Model Year : {{ vehicleData.model_year }}</p>

          <!-- <p class="no-margin">Also called</p>
          <ul>
            <li>
              <a>Duesenberg J</a>
            </li>
            <li>
              <a>Duesenberg SJ (supercharged)</a>
            </li>
            <li>
              <a>Duesenberg SSJ (short-wheelbase supercharged)</a>
            </li>
          </ul>
          <p>
            Production Date : 1928–1937 481 Total (445 Model J, 36 Model SJ)
          </p>
          <p>
            Assembly :
            <u>
              <a
                target="_blank"
                href="https://en.wikipedia.org/wiki/Indianapolis"
                >Indianapolis</a
              ></u
            >,
            <u
              ><a target="_blank" href="https://en.wikipedia.org/wiki/Indiana"
                >Indiana</a
              ></u
            >,
            <u
              ><a
                target="_blank"
                href="https://en.wikipedia.org/wiki/United_States"
                >United States</a
              ></u
            >
          </p> -->
        </div>
      </div>
      <div
        class="container d-flex flex-column justify-content-center align-items-start"
      >
        <div class="title">
          <h2>Specifications</h2>
        </div>
        <div class="paragraph my-3">
          <p>Displacement: {{ vehicleData.displacement }}</p>
          <p>Color: {{ vehicleData.color }}</p>
          <p>Extra Features: {{ vehicleData.extra_features }}</p>
          <!-- <p>
            Class : Full-size
            <u
              ><a
                target="_blank"
                href="https://en.wikipedia.org/wiki/Luxury_car"
                >luxury car</a
              ></u
            >
          </p>

          <p>Body Style : Coachbuilt to owner's preference</p>
          <p>
            Layout :
            <u>
              <a
                target="_blank"
                href="https://en.wikipedia.org/wiki/Front-engine,_rear-wheel-drive_layout#Front_mid-engine,_rear-wheel-drive_layout"
              >
                Front mid-engine, rear-wheel-drive
              </a></u
            >
          </p> -->
        </div>
      </div>
      <div
        class="container d-flex flex-column justify-content-center align-items-start"
      >
        <div class="title">
          <h2>Status</h2>
        </div>
        <div class="paragraph my-3">
          <p>
            Was Stolen Before?
            <span *ngIf="vehicleData.is_stolen"> Yes</span>
            <span *ngIf="!vehicleData.is_stolen"> No</span>
          </p>
          <p>
            Was Wrecked Before?
            <span *ngIf="vehicleData.is_salvaged"> Yes</span>
            <span *ngIf="!vehicleData.is_salvaged"> No</span>
          </p>
          <p>
            Insurance Company:
            <span *ngIf="vehicleData.is_insured">
              {{ vehicleData.insured_by }}</span
            >
            <span *ngIf="!vehicleData.is_insured"> None</span>
          </p>
          <!-- <p>
            Engine : 7 L (420 cu in)
            <a
              target="_blank"
              href="https://en.wikipedia.org/wiki/Overhead_camshaft_engine#Double_overhead_camshaft"
              ><u>DOHC</u></a
            >,
            <a
              target="_blank"
              href="https://en.wikipedia.org/wiki/Duesenberg_Straight-8_engine"
            >
              <u> Duesenberg Straight-8 engine</u></a
            >
            , optional supercharger
          </p>
          <p>
            Transmission : 3-speed
            <a
              target="_blank"
              href="https://en.wikipedia.org/wiki/Manual_transmission"
              ><u>manual[2]</u></a
            >
          </p> -->
        </div>
      </div>
    </section>
    <section id="p3" class="d-flex justify-content-center">
      <form>
        <div class="container text-center">
          <div class="row justify-content-center">
            <button
              (click)="scroll(p5)"
              [disabled]="!vehicleData.has_mileage"
              class="col-6 col-sm-4 child d-flex flex-column justify-content-around align-items-center btn"
            >
              <img src="assets/images/speedometer.png" alt="" />
              <p>Mileage</p>
              <!-- <p class="details">50km</p> -->
            </button>
            <button
              (click)="scroll(p4)"
              [disabled]="!vehicleData.has_accidents"
              class="col-6 col-sm-4 child d-flex flex-column justify-content-around align-items-center btn"
            >
              <img src="../../assets/images/accident.png" alt="" />
              <p>Accidents</p>
              <!-- <p class="details text-danger">3 problems</p> -->
            </button>
            <button
              [disabled]="!vehicleData.has_sales_history"
              class="col-6 col-sm-4 child d-flex flex-column justify-content-around align-items-center btn"
            >
              <img class="w-50" src="../../assets/images/history.png" alt="" />
              <p>Sales History</p>
              <!-- <p class="details">No records found</p> -->
            </button>
          </div>
          <div class="row my-5 justify-content-center">
            <button
              [disabled]="!vehicleData.has_service_history"
              class="col-6 col-sm-4 child d-flex flex-column justify-content-around align-items-center btn"
            >
              <img src="../../assets/images/repair.png" alt="" />
              <p>Service History</p>
            </button>
            <button
              [disabled]="!vehicleData.has_theft_history"
              class="col-6 col-sm-4 child d-flex flex-column justify-content-around align-items-center btn"
            >
              <img src="../../assets/images/thief.png" alt="" />
              <p>Theft & Legal History</p>
            </button>
            <button
              [disabled]="!vehicleData.has_financial_history"
              class="col-6 col-sm-4 child d-flex flex-column justify-content-around align-items-center btn"
            >
              <img src="../../assets/images/salary.png" alt="" />
              <p>Financial History</p>
            </button>
          </div>
        </div>
      </form>
    </section>
    <section id="p4" #p4>
      <div class="container" *ngIf="vehicleData.has_accidents">
        <div class="title d-flex justify-content-center align-items-center">
          <img src="../../assets/images/accident.png" alt="" />
          <p>Damage Record</p>
        </div>
        <div class="images" *ngFor="let event of events">
          <ng-container *ngIf="event.event_type == 'Accident'">
            <div
              class="child d-flex flex-column justify-content-center align-items-center"
            >
              <img [src]="event.cover_icon" alt="" />
              <!-- <p class="date">01-2005</p> -->
              <p class="info">{{event.event_damages}}</p>
              <button (click)="goToEventDetails(event._id)" class="btn detailsButton d-flex justify-content-between align-items-center"><p>More Details</p>
                <i class="fa-solid fa-caret-right"></i></button>
            </div>
          </ng-container>
        </div>
      </div>
    </section>
    <section id="p5" #p5>
      <div class="container">
        <div class="title d-flex justify-content-center align-items-center">
          <img src="../../assets/images/speedometer.png" alt="" />
          <p>Average Mileage by year</p>
        </div>
        <div class="chart d-flex justify-content-center align-items-center">
          <!-- <img src="../../assets/images/graph.png" alt="" /> -->
          <canvas
            id="myChart"
            style="width: 100%; background-color: rgba(29, 29, 29, 0.906)"
          ></canvas>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </body>
</html>
<!-- <div
              class="insurance d-flex justify-content-between align-items-center w-75"
            >
              <div
                class="left d-flex flex-column justify-content-center align-items-center"
              >
                <p>Insurance Company</p>
                <img src="../../assets/images/rg.png" alt="" />
              </div>
              <div
                class="right d-flex flex-column justify-content-center align-items-center"
              >
                <a routerLink="/car_info"
                  >1 <i class="fa-solid fa-video"></i
                ></a>
                <a routerLink="/car_info"
                  >2 <i class="fa-solid fa-image"></i
                ></a>
              </div>
            </div> -->
