
<app-sidenav></app-sidenav>
<html>
  <body>
    <h2 class="head-text">Add Vehicle</h2>
    <div class="container">
      <form [formGroup]="addVehicleForm" (ngSubmit)="addVehicle()">
        <tr>
          <td>
            Vehicle vin :
            <span class="err text-danger" style="font-size: 20px">*</span>
          </td>

          <td>
            <input
              class="rectanglr"
              formControlName="vehicle_vin"
              type="text"
              name="Vehicle vin"
              #vehicleVinInput
            />
            <p class="err text-danger">{{ errorMessageVIN }}</p>
          </td>
        </tr>

        <tr>
          <td>
            Vehicle make :<span
              class="err text-danger"
              style="font-size: 20px; padding-left: 5px"
              >*</span
            >
          </td>
          <td>
            <input
              class="rectanglr"
              formControlName="vehicle_make"
              type="text"
              name="Vehicle make"
              #vehicleMakeInput
            />
            <p class="err text-danger">{{ errorMessageMake }}</p>
          </td>
        </tr>
        <tr>
          <td>
            Vehicle Model :<span
              class="err text-danger"
              style="font-size: 20px; padding-left: 5px"
              >*</span
            >
          </td>
          <td>
            <input
              class="rectanglr"
              formControlName="vehicle_model"
              type="text"
              name="Vehicle Model"
              #vehicleModelInput
            />
            <p class="err text-danger">{{ errorMessageModel }}</p>
          </td>
        </tr>
        <tr>
          <td>
            Vehicle year :<span
              class="err text-danger"
              style="font-size: 20px; padding-left: 5px"
              >*</span
            >
          </td>
          <td>
            <input
              class="rectanglr"
              formControlName="model_year"
              type="text"
              name="Vehicle year"
              #vehicleYearInput
            />
            <p class="err text-danger">{{ errorMessageYear }}</p>
          </td>
        </tr>
        <tr>
          <td>
            Displacement :<span
              class="err text-danger"
              style="font-size: 20px; padding-left: 5px"
              >*</span
            >
          </td>
          <td>
            <input
              class="rectanglr"
              formControlName="displacement"
              type="text"
              name="Displacement"
              #vehicleDisplacementInput
            />
            <p class="err text-danger">{{ errorMessageDisplacement }}</p>
          </td>
        </tr>
        <tr>
          <td>
            Color:<span
              class="err text-danger"
              style="font-size: 20px; padding-left: 5px"
              >*</span
            >
          </td>
          <td>
            <input
              class="rectanglr"
              formControlName="color"
              type="text"
              name="Color"
              #vehicleColorInput
            />
            <p class="err text-danger">{{ errorMessageColor }}</p>
          </td>
        </tr>

        <tr>
          <td>
            Mileage Years x :<span
              class="err text-danger"
              style="font-size: 20px; padding-left: 5px"
              >*</span
            >
          </td>
          <td>
            <input
              class="rectanglr"
              formControlName="mileage_years_x"
              type="text"
              name="Mileage_years_x"
              #vehicleMileageXInput
            />
            <p class="err text-danger">{{ errorMessageMileageX }}</p>
          </td>
        </tr>
        <tr>
          <td>
            Mileage Miles y :<span
              class="err text-danger"
              style="font-size: 20px; padding-left: 5px"
              >*</span
            >
          </td>
          <td>
            <input
              class="rectanglr"
              formControlName="mileage_miles_y"
              type="text"
              name="Mileage_years_y"
              #vehicleMileageYInput
            />
            <p class="err text-danger">{{ errorMessageMileageY }}</p>
          </td>
        </tr>
        <tr>
          <td>Extra features :</td>
          <td>
            <input
              class="rectanglr"
              formControlName="extra_features"
              type="text"
              name="Extra features"
            />
          </td>
        </tr>
        <tr>
          <td>Is Stolen :</td>
          <td class="col2">
            <label>
              <input
                type="radio"
                name="is_stolen"
                formControlName="is_stolen"
                value="true"
              />
              Yes
            </label>
            <label>
              <input type="radio" name="is_stolen" checked value="false" /> No
            </label>
          </td>
        </tr>
        <tr>
          <td>Is salvaged :</td>
          <td class="col2">
            <label>
              <input
                type="radio"
                name="is_salvaged"
                formControlName="is_salvaged"
                value="true"
              />
              Yes
            </label>
            <label>
              <input type="radio" name="is_salvaged" checked value="false" />
              No
            </label>
          </td>
        </tr>

        <tr>
          <td>Is insured :</td>
          <td class="col2">
            <label>
              <input
                type="radio"
                name="is_insured"
                formControlName="is_insured"
                value="true"
              />
              Yes
            </label>
            <label>
              <input type="radio" name="is_insured" checked value="false" />
              No
            </label>
          </td>
        </tr>
        <tr>
          <td>Has mileage :</td>
          <td class="col2">
            <label>
              <input
                type="radio"
                name="has_mileage"
                formControlName="has_mileage"
                value="true"
              />
              Yes
            </label>
            <label>
              <input type="radio" name="has_mileage" checked value="false" />
              No
            </label>
          </td>
        </tr>
        <tr>
          <td>Has sales history :</td>
          <td class="col2">
            <label>
              <input
                type="radio"
                name="has_sales_history"
                formControlName="has_sales_history"
                value="true"
              />
              Yes
            </label>
            <label>
              <input
                type="radio"
                name="has_sales_history"
                checked
                value="false"
              />
              No
            </label>
          </td>
        </tr>
        <tr>
          <td>Has service history :</td>
          <td class="col2">
            <label>
              <input
                type="radio"
                name="has_service_history"
                formControlName="has_service_history"
                value="true"
              />
              Yes
            </label>
            <label>
              <input
                type="radio"
                name="has_service_history"
                checked
                value="false"
              />
              No
            </label>
          </td>
        </tr>
        <p class="text-success text-center" style="font-size: 22px; font-weight: 600;">{{successMessage}}</p>
        <div class="button-group">
          <button class="button" type="submit">Confirm</button>
          <button class="button-reset" type="reset">Reset</button>
        </div>
      </form>
    </div>
  </body>
</html>
