<app-preloader *ngIf="showPreloader"></app-preloader>
<app-sidenav></app-sidenav>
<html>
  <body>
    <h2 class="head-text">Inbox</h2>
    <div class="container d-flex justify-content-between">
      <div class="div1 mx-5">
        <button
          class="grey-box btn btn-dark"
          [ngClass]="{ 'selected': i === selectedMessageIndex }"
          *ngFor="let msg of data?.newMsg; let i = index"
          (click)="showMessage(i)"
        >
          <div class="img-time">
            <img src="assets/img/el.jpeg" />
            <div class="date d-flex flex-column">

                <p class="mx-2">{{formatDate(msg.createdAt)}}</p>
                <p>{{getFormattedTime(msg.createdAt)}}</p>
            </div>
          </div>
          <div class="head-texts">
            <h4>{{ msg.full_name }}</h4>
            <p>
              {{ msg.message | slice : 0 : 11
              }}{{ msg.message.length > 15 ? "..." : "" }}
            </p>
          </div>
        </button>
      </div>
      <div class="black-box">
        <div class="div2">
          <div class="adress">
            <p class="time-grey">{{getFormattedTime(selectedMessageTime)}}</p>
            <p class="from"><span>From: </span>{{ selectedMessageName}}</p>
            <p class="from">{{selectedMessageEmail}}</p>
          </div>
        </div>
        <div class="mail-massege">
          <p>
            {{ selectedMessage }}
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
