<app-sidenav></app-sidenav>
<html>
    <body>
        <h2 class="head-text">Inbox</h2>
<div class="container">
   
    <div class="div1">
        <div class="greyy-box">
            <div class="img-time"><img src="assets/img/el.jpeg"><p>6:32 pm</p>
            </div>
            <div class="head-texts"><h4>Mahmoud Ellisy</h4> <p>New User </p> <p>Hello! ,  i Have used Fabrika  and ...</p></div></div>
        <div class="grey-box">
            <div class="img-time"><img src="assets/img/ahmed.png"><p>6:32 pm</p>
            </div>
            <div class="head-texts"><h4>Ahmed Yousry</h4> <p>New User </p> <p>Hello! ,  i Have used Fabrika  and ...</p></div>
        </div>
        <div class="grey-box">
            <div class="img-time"><img src="assets/img/salma.jpeg"><p>6:32 pm</p>
            </div>
            <div class="head-texts"><h4>Salma Mostafa</h4> <p>New User </p> <p>Hello! ,  i Have used Fabrika  and ...</p></div>
        </div>
        <div class="grey-box">
            <div class="img-time"><img src="assets/img/maya.png"><p>6:32 pm</p>
            </div>
            <div class="head-texts"><h4>Maya Mohamed</h4> <p>New User </p> <p>Hello! ,  i Have used Fabrika  and ...</p></div>
        </div>
        <div class="grey-box">
            <div class="img-time"><img src="assets/img/am.png"><p>6:32 pm</p>
            </div>
            <div class="head-texts"><h4>Om Ahmed</h4> <p>New User </p> <p>Hello! ,  i Have used Fabrika  and ...</p></div>
        </div>
        <div class="grey-box">
            <div class="img-time"><img src="assets/img/el.jpeg"><p>6:32 pm</p>
            </div>
            <div class="head-texts"><h4>Mahmoud Ellisy</h4> <p>New User </p> <p>Hello! ,  i Have used Fabrika  and ...</p></div>
        </div>
        <div class="grey-box">
            <div class="img-time"><img src="assets/img/am.png"><p>6:32 pm</p>
            </div>
            <div class="head-texts"><h4>Om Ahmed</h4> <p>New User </p> <p>Hello! ,  i Have used Fabrika  and ...</p></div>
        </div>
    </div>
    <div class="black-box">
        <div class="div2">
        <div class="adress">
       <p class="time-grey">4:56 pm</p>
       <p class="prag">Hello! ,  i Have used Fabrika  and it’s Very simple service with great information.</p>
       <p class="from"><span>From: </span> Ahmed Yousry</p>
    </div>
    <div class="icons">
        <img class = 'icon'src="assets/img/arrow.jpeg">
        <img class = 'icon'src="assets/img/trash.png"></div></div>
        <div class="mail-massege"><p>Hello!,</p>
        <p>

            i Have used Fabrika  and it’s Very simple service with great information. I registered, paid, and got my report in just a few minutes. Everything is clear and simple. Got a rollback for the car I searched. And that wasn’t the only problem that was reported by FABRIKA. For more than a reasonable price, I got the complete history of the car. Great service!"</p>
        <p class="have-nice">Have a Nice Day.</p>
        <p>Ahmed Yousry</p>
        <div class="buttons">
        <button class="btn1"><img src="assets/img/reply.png">Reply</button>
        <button class="btn2"><img src="assets/img/forward.png">Forward</button></div></div>
    </div>
</div>
    </body>
</html>