* {
  font-family: "Manuale", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: aliceblue;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.5 ease;
  background-color: #000;
  padding: 3rem;
  padding-left: 20rem;
}

.head-text {
  margin-left: 40px;
  width: 345px;
  height: 66px;
  font-weight: 800;
  font-size: 34px;
  line-height: 69px;
  letter-spacing: -0.015em;
  background: radial-gradient(
    137.88% 137.88% at 44.93% 50%,
    #ffffff 0%,
    rgba(202, 212, 225, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 24px;
}

.grey-box {
  background-color: #343434;
  width: 380px;
  height:fit-content;
  border-radius: 12px;
  margin-bottom: 24px;
  display: flex;
  color: white;
}
.black-box {
  background-color: #000;
  border: 2px solid #3a3a3a;
  width: 581px;
  padding-bottom: 100px;
  position: fixed;
  top: 150px;
  right: 100px;
  height: fit-content;
}
.container {
  display: flex;
  justify-content: space-evenly;
}
.div2 {
  margin-top: 40px;
}
.img-time {
  width: 30%;
  height: fit-content;
  align-items: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img-time img {
  width: 72px;
  height: 68px;
  border-radius: 75px;
  margin-top: 20px;
}
.img-time p {
  text-align: center;
  margin-top: 11px;
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.015em;
  color: #939393;
}

.head-texts {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.head-texts h4 {
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.015em;
  margin-top: 10px;
  color: #ffffff;
}
.head-texts p {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.015em;
}
.div2 {
  display: flex;
}
.adress {
  width: 85%;
}
.adress p {
  margin-left: 39px;
  margin-top: 10px;
}
.icons {
  display: flex;

  margin-top: 80px;
}
.icons .icon {
  width: 29px;
  height: 21px;
}
.time-grey {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.015em;

  color: #939393;
}
.prag {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.015em;
}
.from {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.015em;
  color: #939393;
}

.from span {
  font-weight: 800;
  font-size: 19px;
  line-height: 27px;
  letter-spacing: -0.015em;
  padding-right: 5px;

  color: #626262;
}
.mail-massege {
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin-top: 70px;
  margin-left: 30px;
}
.mail-massege img {
  width: 25px;
  height: 18px;
  margin-right: 9px;
}
.have-nice {
  margin-top: 40px;
}
.buttons {
  width: 54%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  width: 130px;
  height: 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.015em;
  color: #ffffff;
}
.btn1 {
  background: #576474;
}
.btn2 {
  background: #9e0505;
}
.selected {
  background-color: #4e4e4e;
}
