<html>
  <body>
    <div class="circle"></div>
    <div class="car">
      <img src="../../assets/images/car.png" alt="" />
    </div>
    <div class="intro">
      <h1>Welcome to FABRIKA<span class="err text-danger">{{errorMessageRegister}}</span></h1>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div
        class="parent d-flex flex-column justify-content-start align-items-start"
      >
        <div class="form">
          <div class="child child1">
            <div class="email form-floating ch">
              <input
                type="email"
                id="floatingEmail"
                class="form-control"
                formControlName="email"
                placeholder=" "
              />
              <label for="floatingEmail">E-mail </label>
              <p class="err text-danger">{{ errorMessageEmail }}</p>
            </div>
            <div class="password form-floating ch">
              <input
                type="password"
                id="floatingPassword"
                class="form-control"
                placeholder=" "
                formControlName="password"
              />
              <label for="floatingPassword" class="form-label">Password</label>
              <!-- <p class="err text-danger"></p> -->
              <p> <span class="err text-danger">{{ errorMessagePassword }} </span> <a class="forgot" routerLink="/forgot-password"> Forgotten your Password?</a></p>
            </div>
          </div>
        </div>
        <div class="b text-start">
          <button class="btn btn-light">Login</button>
          <div class="txt">
            <p>
              Don't have an account?<span
                ><a routerLink="/signup"> SIGN UP</a></span
              >
            </p>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
