<html>
  <body>
    <div class="circle"></div>
    <div class="car">
      <img src="../../assets/images/car.png" alt="" />
    </div>
    <div class="intro">
      <h1>Welcome to FABRIKA</h1>
    </div>
    <form action="">
      <div
        class="parent d-flex flex-column justify-content-start align-items-start"
      >
        <div class="form">
          <div class="child child1">
            <div class="email form-floating ch">
              <input
                type="email"
                id="floatingEmail"
                class="form-control"
                placeholder=" "
              />
              <label for="floatingEmail" class="form-label">E-mail </label>
            </div>
            <div class="password form-floating ch">
              <input
                type="password"
                id="floatingPassword"
                class="form-control"
                placeholder=" "
              />
              <label for="floatingPassword" class="form-label">Password</label>
            </div>
          </div>
        </div>
        <div class="b text-start">
          <button class="btn btn-light">Login</button>
          <div class="txt">
            <p>
              Don't have an account?<span><a routerLink="/signup"> SIGN UP</a></span>
            </p>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
