
<html>
    <body>
      <div class="circle"></div>
      <div class="car">
        <img src="../../assets/images/car.png" alt="" />
      </div>
     
      <div class="reset w-100 h-100" >
      <div class="intro">
       
        <h1 style="color:#d0e1fd">Change Password</h1>
        <h4>Your new password must be different from previous used password.</h4>
      </div>
      <form class="h-50 my-4" [formGroup]="changeForm" (ngSubmit)="changePassword()">
        <div
          class="parent d-flex flex-column justify-content-around h-100 align-items-start"
        >
          <div class="form">
            <div class="child child1">
              <div class="oldPassword form-floating ch">
                <input
                  type="password"
                  id="floatingOldPassword"
                  class="form-control"
                  placeholder=" "
                  formControlName="oldPassword"
                />
                <label for="floatingOldPassword">Old Password </label>
                <p class="err text-danger">{{ errorMessageOldPassword }}</p>
                <p *ngIf="error" class="err text-danger w-100">Old password is incorrect, try to  <a (click)="reset()" class="e">reset your password</a> instead.</p>
                
            </div>
            
            <div class="newPassword form-floating ch">
                <input
                #myInputField
                type="password" 
                id="floatingNewPassword" 
                class="form-control"
                placeholder=" "
                formControlName="newPassword"
                />
                <label for="floatingNewPassword">New Password </label>
                <p class="err text-danger">{{ errorMessageNewPassword }}</p>
            </div>
            <div class="cnewPassword form-floating ch">
                <input
                type="password"
                id="floatingcNewPassword"
                class="form-control"
                placeholder=" "
                formControlName="cnewPassword"
                />
                <label for="floatingcNewPassword">Confirm Password </label>
                <p class="err text-danger">{{ errorMessageCNewPassword }}</p>
                <h5 class=" text-success" >{{successMessage}}</h5>
              </div>
        
            </div>
          </div>
          
          <div class="b text-start">
            <button class="btn btn-light">Send</button>
          </div>
        </div>
      </form>
    </div>
    
    </body>
  </html>
  