<app-navbar></app-navbar>
<html>
    <body>
      <div class="circle"></div>
      <div class="car">
        <img src="../../assets/images/car.png" alt="" />
      </div>
     
      <div class="reset w-100 h-100" >
      <div class="intro">
       
        <h1>Change Password</h1>
        <h4>Your new password must be different from previous used password.</h4>
      </div>
      <form class="h-50">
        <div
          class="parent d-flex flex-column justify-content-around h-100 align-items-start"
        >
          <div class="form">
            <div class="child child1">
              <div class="email form-floating ch">
                <input
                  type="email"
                  id="floatingEmail"
                  class="form-control"
                  placeholder=" "
                />
                <label for="floatingEmail">Old Password </label>
                <!-- <p class="err text-danger">{{ errorMessageEmail }}</p> -->
                
              </div>
        
              <div class="password form-floating ch">
                <input
                type="email" 
                id="floatingEmail"
                class="form-control"
                placeholder=" "
              />
              <label for="floatingEmail">New Password </label>
              </div>
              <div class="password form-floating ch">
                <input
                type="email"
                id="floatingEmail"
                class="form-control"
                placeholder=" "
              />
              <label for="floatingEmail">Confirm Password </label>
              </div>
        
            </div>
          </div>
          
          <div class="b text-start">
            <button class="btn btn-light">Send</button>
          </div>
        </div>
      </form>
    </div>
    
    </body>
  </html>
  