* {
  font-family: "Manuale", cursive;
}
.bt2 {
  font-size: 1.3rem;
  font-weight: 790;
}
.bt2:focus {
  outline: none;
  border: none;
}
.bttt {
  margin-top: 10px;
}
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 18.75rem;
  height: 100%;
  background-color: #fff;
  transition: all 0.5s ease;
  z-index: 1;
  top: 0;
  overflow: hidden;

  .logo-container {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 0 3.9rem;
    width: 100%;
    text-align: center;
    .logo img {
      text-align: center;
      width: 9rem;
      min-width: 9rem;
      cursor: pointer;
    }
  }
}
.sidenav-nav {
  list-style: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  cursor: pointer;

  .sidenav-nav-item1 {
    margin-top: 1.65rem;
    margin-bottom: 2.65rem;
    position: relative;
    list-style: none;
    cursor: default;
    .sidenav-nav-link1 {
      display: flex;
      align-items: center;
      height: 3rem;
      text-decoration: none;
      color: black;
      font-weight: 700;
      font-size: 1.2rem;
      border-top-left-radius: 70px;
      border-bottom-left-radius: 70px;
      .sidenav-link-icon1 img {
        font-size: 1.7rem;
        width: 1.6rem;
        min-width: 3.6rem;
        height: 2.9rem;
        margin: 0 0.56rem;
        text-align: center;
        border-radius: 50%;
      }

      .sidenav-link-text1 {
        margin-left: 1rem;
      }
    }
  }

  .sidenav-nav-item {
    width: 106%;
    margin-bottom: 0.9rem;
    position: relative;
    list-style: none;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      text-decoration: none;
      font-weight: 790;
      font-size: 1.3rem;

      .sidenav-link-icon img {
        font-size: 1.7rem;
        width: 1.6rem;
        min-width: 1.6rem;
        height: 1.4rem;
        margin-bottom: 0.2rem;
        text-align: center;
      }
      .sidenav-link-text {
        margin-left: 0.2rem;
        line-height: 3.5rem;
        padding-left: 1.3rem;
        width: 100%;
        color: black;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
      }
    }
  }
}

.active {
  .sidenav-link-text {
    color: #fff !important;
    background-color: #000;
  }

  .sidenav-link-text::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50px;
    box-shadow: 35px 35px 0 10px black;
  }
  .sidenav-link-text::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50px;
    box-shadow: 35px -35px 0 10px black;
  }

  .btngan::before {
    right: 15px;
  }
  .btngan::after {
    right: 15px;
  }
}
.bt2::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  margin-left: 0.5em;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.bt2[aria-expanded="true"]::after {
  transform: rotate(90deg);
}
