<html>
  <body>
    <div class="container">
        <div class="parent d-flex justify-content-center flex-column">
            <div class="head align-self-center d-flex justify-content-evenly">
                <p>Help Center</p>
                <p class="text-black" style="user-select: none;">Help Center</p>
            </div>
            <div class=" head2 align-self-center d-flex justify-content-start">
                <p>We Help to Achieve Biggest <span>Goals</span> </p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
