<app-navbar></app-navbar>
<html>
    <body>
      <div class="circle"></div>
      <div class="car">
        <img src="../../assets/images/car.png" alt="" />
      </div>
     
      <div class="reset w-100 h-100" *ngIf="forgot">
      <div class="intro">
       
        <h1>Reset Password</h1>
        <h4>Enter Your Email we will send you 4 digits verification code.</h4>
      </div>
      <form class="h-50" [formGroup]="forgotForm" (ngSubmit)="forgotFunction()">
        <div
          class="parent d-flex flex-column justify-content-around h-100 align-items-start"
        >
          <div class="form">
            <div class="child child1">
              <div class="email form-floating ch">
                <input
                  type="email"
                  id="floatingEmail"
                  class="form-control"
                  formControlName="email"
                  placeholder=" "
                />
                <label for="floatingEmail">E-mail </label>
                <p class="err text-danger">{{ errorMessageEmail }}</p>
                
              </div>
            </div>
          </div>
          
          <div class="b text-start">
            <button class="btn btn-light">Send</button>
          </div>
        </div>
      </form>
    </div>
    <div class="verification h-100" *ngIf="verification">
      <div class="intro">
        <h1>Reset Password</h1>
        <h4>Enter your verification code that we sent to your E-mail.</h4>
      </div>
      <form class="h-50" [formGroup]="verificationForm" (ngSubmit)="verificationFunction()">
        <div
          class="parent d-flex flex-column justify-content-around h-100 align-items-start"
        >
          <div class="form">
            <div class="child child1">
              <div class="code form-floating ch">
                <input
                  type="password"
                  id="floatingCode"
                  formControlName="code"
                  class="form-control"
                  placeholder=" "
                />
                <label for="floatingCode">Verification Code </label>
                <p class="err text-danger">{{ errorMessageCode }}</p>
              </div>
            </div>
          </div>
          <div class="b text-start">
            <button class="btn btn-light">Send</button>
          </div>
        </div>
      </form>
    </div>
    <div class="newPassword h-100" *ngIf="newPassword">
      <div class="intro">
        <h1>Reset Password</h1>
        <h4>Your new password must be Strong. </h4>
      </div>
      <form class="h-50" [formGroup]="newPasswordForm" (ngSubmit)="newPasswordFunction()">
        <div
          class="parent d-flex flex-column justify-content-around h-100 align-items-start"
        >
          <div class="form">
            <div class="child child1">
              <div class="password form-floating ch">
                <input
                  type="password"
                  id="floatingPassword"
                  class="form-control"
                  placeholder=" "
                  formControlName="newPassword"
                />
                <label for="floatingPassword">New Password</label>
                <p class="err text-danger">{{errorMessageNewPassword}}</p>
              </div>
              <div class="cPassword form-floating ch">
                <input
                  type="password"
                  id="floatingCPassword"
                  class="form-control"
                  placeholder=" "
                  formControlName="cnewPassword" 
                />
                <label for="floatingCPassword">Confirm New Password</label>
                <p class="err text-danger">{{errorMessageCNewPassword}}</p>
                <div class="txt d-flex align-items-center w-100 justify-content-start my-2" *ngIf="successMessage">
                  <h5 class=" text-success" >{{successMessage}}</h5>
                    <a routerLink="/login">LOGIN</a>
                </div>
              </div>
            </div>
          </div>
          <div class="b text-start">
            <button class="btn btn-light">Send</button>
          </div>
        </div>
      </form>
    </div>
    </body>
  </html>
  