<html>
    <body>
      <div class="circle"></div>
      <div class="car">
        <img src="../../assets/images/car.png" alt="" />
      </div>
      <div class="reset h-100" *ngIf="reset">
      <div class="intro">
        <h1>Reset Password</h1>
        <h4>Enter Your Email we will send you 5 digits verification code.</h4>
      </div>
      <form class="h-50" (ngSubmit)="verificationFunction()">
        <div
          class="parent d-flex flex-column justify-content-around h-100 align-items-start"
        >
          <div class="form">
            <div class="child child1">
              <div class="email form-floating ch">
                <input
                  type="email"
                  id="floatingEmail"
                  class="form-control"
                  placeholder=" "
                />
                <label for="floatingEmail">E-mail </label>
                <p class="err text-danger"></p>
              </div>
            </div>
          </div>
          <div class="b text-start">
            <button class="btn btn-light">Send</button>
          </div>
        </div>
      </form>
    </div>
    <div class="verification h-100" *ngIf="verification">
      <div class="intro">
        <h1>Reset Password</h1>
        <h4>Enter your verification code that we sent to you.</h4>
      </div>
      <form class="h-50" (ngSubmit)="newPasswordFunction()">
        <div
          class="parent d-flex flex-column justify-content-around h-100 align-items-start"
        >
          <div class="form">
            <div class="child child1">
              <div class="code form-floating ch">
                <input
                  type="code"
                  id="floatingCode"
                  class="form-control"
                  placeholder=" "
                />
                <label for="floatingCode">Verification Code </label>
                <p class="err text-danger"></p>
              </div>
            </div>
          </div>
          <div class="b text-start">
            <button class="btn btn-light">Send</button>
          </div>
        </div>
      </form>
    </div>
    <div class="newPassword h-100" *ngIf="newPassword">
      <div class="intro">
        <h1>Reset Password</h1>
        <h4>Your new password must be different from previous used password. </h4>
      </div>
      <form class="h-50" routerLink="/login">
        <div
          class="parent d-flex flex-column justify-content-around h-100 align-items-start"
        >
          <div class="form">
            <div class="child child1">
              <div class="password form-floating ch">
                <input
                  type="password"
                  id="floatingPassword"
                  class="form-control"
                  placeholder=" "
                />
                <label for="floatingPassword">New Password</label>
                <p class="err text-danger"></p>
              </div>
              <div class="cPassword form-floating ch">
                <input
                  type="password"
                  id="floatingCPassword"
                  class="form-control"
                  placeholder=" "
                />
                <label for="floatingCPassword">Confrim New Password</label>
                <p class="err text-danger"></p>
              </div>
            </div>
          </div>
          <div class="b text-start">
            <button class="btn btn-light">Send</button>
          </div>
        </div>
      </form>
    </div>
    </body>
  </html>
  