<html>
  <body>
    <section id="p1">
      <div class="container-fluid c1">
        <div class="frame">
          <h1>Check your car by <span class="rd">VIN</span></h1>
          <form action="">
            <fieldset [disabled]="!isLogin">
              <div class="d-flex group align-items-center">
                <input
                  type="text"
                  class="form-control"
                  id="VIN"
                  placeholder="Enter VIN Number"
                />
                <button
                  type="button"
                  class="btn btn-dark vn"
                  routerLink="/car-info"
                >
                  Check VIN
                </button>
              </div>
            </fieldset>
            <p class="text-danger px-3 my-1" *ngIf="!isLogin">
              You have to
              <a routerLink="/login" class="text-decoration-none text-light"
                >Login</a
              >
              first
            </p>
          </form>
        </div>
        <img src="../../assets/images/miniCooper.png" class="bmin" alt="" />
      </div>
    </section>
    <section id="p2">
      <div class="choose text-center">
        <h2>Why choose us?</h2>
        <div class="boxParent px-5 d-flex justify-content-around">
          <div class="box box1">
            <p>Selling a car?</p>
            <img src="../../assets/images/sell.jpg" alt="" />
          </div>
          <div class="box box2">
            <p>Buying a car?</p>
            <img src="../../assets/images/buy.jpg" alt="" />
          </div>
          <div class="box box3">
            <p>Own a car?</p>
            <img src="../../assets/images/own.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section id="p3">
      <div
        class="parent d-flex flex-column justify-content-center align-items-center"
      >
        <div class="child d-flex justify-content-between">
          <div
            class="txt d-flex flex-column justify-content-center align-items-center"
          >
            <h2>ACCIDENT, SALVAGE AND THEFT RECORDS</h2>
            <p>
              Our data is provided by state-level agencies and trusted car
              industry partners to help you discover if a vehicle has any
              reported accidents, salvage or theft records, if available.
            </p>
          </div>
          <div class="img">
            <img src="../../assets/images/redcooper.png" alt="" />
          </div>
        </div>
        <div class="child d-flex justify-content-between">
          <div class="img">
            <img src="../../assets/images/yellowcooper.png" alt="" />
          </div>
          <div
            class="txt d-flex flex-column justify-content-center align-items-center"
          >
            <h2>TITLES , LIENS AND SALES RECORDS</h2>
            <p style="width: 500px; padding-left: 30px">
              Our data is provided by state-level agencies and trusted car
              industry partners to help you discover if a vehicle has any
              reported accidents, salvage or theft records, if available.
            </p>
          </div>
        </div>
        <div class="child d-flex justify-content-between">
          <div
            class="txt txt1 d-flex flex-column justify-content-center align-items-center"
          >
            <h2>Photos of previous sales</h2>
            <p>
              FABRIKA will check if this vehicle has previously been listed for
              sale.
            </p>
          </div>
          <div class="img">
            <img class="imgg" src="../../assets/images/bluecooper.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section id="p4">
      <div class="parent">
        <h1>Ready , Set , FABRIKA .....</h1>
        <h2>
          Try FABRIKA today and learn more about a vehicle you plan to buy or
          already own.
        </h2>
        <div class="b d-flex justify-content-end">
          <button class="btn btn-dark">Try FABRIKA Today</button>
        </div>
      </div>
    </section>
    <section id="p5">
      <div
        class="parent d-flex flex-column justify-content-center align-items-center"
      >
        <div class="title">
          <h2>What Customers Say About Us?</h2>
        </div>
        <div
          class="paragraph d-flex justify-content-around w-100 align-items-start"
        >
          <div class="child d-flex flex-column align-items-center">
            <div class="img">
              <img src="../../assets/images/customer1.png" alt="" />
            </div>
            <div class="txt">
              <p>
                "Very simple service with great information. I registered, paid,
                and got my report in just a few minutes. Everything is clear and
                simple. Got a rollback for the car I searched. And that wasn’t
                the only problem that was reported by FABRIKA. For more than a
                reasonable price, I got the complete history of the car. Great
                service!"
              </p>
            </div>
          </div>

          <div class="child d-flex flex-column align-items-center">
            <div class="img">
              <img src="../../assets/images/customer2.png" alt="" />
            </div>
            <div class="txt">
              <p>
                "Once I decided to buy a good looking Cadillac Escalade. I
                really appreciate that my colleague advised me to take your
                service guys. As it turns out that Cadillac is salvaged, junk
                and even has flood damage, that’s what I learned from your
                FABRIKA report. I was about to buy it, but thankfully I checked
                the report first. I skipped a lot of trouble. I Appreciate what
                you do!"
              </p>
            </div>
          </div>

          <div
            class="child d-flex flex-column align-items-center justify-content-start"
          >
            <div class="img">
              <img src="../../assets/images/customer3.png" alt="" />
            </div>
            <div class="txt">
              <p>
                "Thanks to FABRIKA I got valuable info that I needed about a
                car’s damages. To be specific there was an airbag deployment and
                a vehicle rollover. So I was lucky that I checked the report
                first before buying the car. Was the price worth it? absolutely!
                Thanks for your service FABRIKA!"
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </body>
</html>
